<h1>reactive-form</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input
    type="text"
    name="user"
    placeholder="Enter UserName"
    formControlName="user"
  />
  <br />
  <span *ngIf="user && user.invalid && user.touched">This field is not valid</span>
  <br />
  <input
    type="text"
    name="password"
    placeholder="Enter Password"
    formControlName="password"
  />
  <br />
  <span *ngIf="password && password.invalid && password.touched">This field is not valid</span><br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>
