<h1>hii this is deepak thakur</h1>
<app-component1></app-component1>
<app-component2></app-component2>
<app-form></app-form>
<h1>-----------------------------------------</h1>
<h1>lets study on module</h1>
<!-- <app-login></app-login>
<app-signup></app-signup> -->
<ul>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="signup">Signup</a></li>
</ul>
<h1>--------routing module----------------</h1>
<ul>
    <li>
        <a routerLink="admin/login">Login</a>
        <br>
        <a routerLink="admin/list">List</a>
    </li>
</ul>
<h1>-----------------group routing---------------------</h1>
<ul>
    <li><a routerLink="user/login">Login</a></li>
    <li><a routerLink="user/list">List</a></li>
</ul>
<router-outlet></router-outlet>

