<h1>Hii this is deepak thakur</h1>
<h1>this is our basic form</h1>
<app-form></app-form>
<h1>Here this is our toggle element</h1>
<app-toggle-element></app-toggle-element>
<app-template-refrence-variable></app-template-refrence-variable>
<app-pipes></app-pipes>
<h1>---------------------------------------------------------------------------------------------------------------------</h1>
<app-template-driven-form></app-template-driven-form>
<h1>---------------------------------------------------------------------------------------------------------------</h1>
<app-reactive-form></app-reactive-form>
<h1>---------------------------------------------------------------------------------------------------------------</h1>
<app-footer></app-footer>
<h1>-----------------------------------------------------------------------</h1>
<app-test000></app-test000>


<app-twoway-bind></app-twoway-bind>